<form class="form habit-form">

    <label for="food-name">Food name:</label>
    <input class="form-input" type="text" id="food-name" />

    <br>

    <label for="mealType">Meal Type:</label>
    <select name="mealType" id="mealType">
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
        <option value="snack">Snack</option>
    </select>

    <br>

    <p>Nutritional info:</p>

    <label for="calories">Calories:</label>
    <input class="form-input" type="number" id="calories" />

    <br>

    <label for="protein">Protein (g):</label>
    <input class="form-input" type="number" id="protein" />

    <br>

    <label for="fat">Fat (g):</label>
    <input class="form-input" type="number" id="fat" />

    <br>

    <label for="carbs">Carbs (g):</label>
    <input class="form-input" type="number" id="carbs" />

    <br>

    <button class="btn btn-primary" id="eatingSubmit" type="submit">Submit</button>

</form>