<div class="row align-center mb-5">
    <h2>Welcome to the site!</h2>


    <p>Healthy Habits is an application designed to track your healthy(and unhealthy) habits so that you can make
        changes and
        keep track of your growth!
        <br>
        Currently the app will keep track of your spending, eating, and sleep habits! In the
        future
        we would like to implement custom trackers so the user can track any habit they want!
    </p>


    <div class="column1">
        <img src="https://github.com/dorrianweber/project2/blob/main/public/images/physical-health.jpg?raw=true"
            alt="healthy habits">


    </div>

</div>