<section class="profile">
    <div class="user">
        <img src="https://github.com/dorrianweber/project2/blob/main/public/images/healthyhabits.png?raw=true">
        <h2>User Profile</h2>
        {{!-- Adding canvas graph area --}}
        <div class="container1">
            <canvas id="myChart"></canvas>
        </div>
        <p>Eating:</p>
        <div id="eatingData"></div>



        <p>Sleeping:</p>
        <div id="sleepingData"></div>
        <p>Spending:</p>
        <div id="spendingData"></div>
    </div>
    <div class="quotes">
        <h2>Inspirational Quotes</h2>

    </div>

</section>

<section>
    <section class="row">
        <a href="/submit">Log your habits</a>
    </section>
</section>

<script src="./js/profile.js"></script>