<section class="profile">
    <div class="user">
        <img src="https://github.com/dorrianweber/project2/blob/main/public/images/healthyhabits.png?raw=true">
        <h2>User Profile</h2>

        <div class="container1">
            <canvas id="myChart"></canvas>
        </div>
        <p>Eating:</p>
        <div id="eatingData"></div>
        {{!-- Adding canvas graph area --}}


        <p>Sleeping:</p>
        <div id="sleepingData"></div>
        <p>Spending:</p>
        <div id="spendingData"></div>
    </div>

</section>

<script src="./js/profile.js"></script>