{{!-- {{#if loggedIn}} --}}
<section class="profile">
    <div class="user">
        <img src="https://github.com/dorrianweber/project2/blob/main/public/images/healthyhabits.png?raw=true">
        <h2>User Profile</h2>

        <p>Eating:</p>

        <p>Sleeping:</p>


        <p>Spending:</p>

    </div>


</section>
{{!-- {{else}} --}}
<a href="/login">You must login first to view this page</a>
{{!-- {{/if}} --}}

<script src="./js/profile.js"></script>