<form class="form habit-form">
    <label for="sleep-hours">Hours slept:</label>
    <input class="form-input" type="number" id="sleep-hours" />

    <br>

    <button class="btn btn-primary" id="sleepingSubmit" type="submit">Submit</button>

</form>

<script src="./js/submit/sleeping.js"></script>