<form class="form habit-form">
    <label for="restaurant">Restaurant spending ($):</label>
    <input class="form-input" type="number" id="restaurant" />

    <br>

    <label for="coffee">Coffee spending ($):</label>
    <input class="form-input" type="number" id="coffee" />

    <br>

    <label for="bar">Bar spending ($):</label>
    <input class="form-input" type="number" id="bar" />
    
    <br>

    <button class="btn btn-primary" id="spendingSubmit" type="submit">Submit</button>
</form>

<script src="./js/submit/spending.js"></script>