<form class="form habit-form">
    <label for="categories">Choose a category:</label>
    <select name="categories" id="categories">
        <option value="eating">Eating</option>
        <option value="sleeping">Sleeping</option>
        <option value="spending">Spending</option>
    </select>

    <br>

    <label for="date">Date:</label>
    <input class="form-input" type="date" id="date"/>
    
    <br>

    <button class="btn btn-primary" id="category-next" type="submit">Next</button>

</form>

<script src="./js/submit.js"></script>