header {
  /* padding: 30px; */
  text-align: center;
  background-color: skyblue;
  padding-top: 20px;
  width: 100%;
}

header h1 {
  font-size: 50px;
  color: white;
}

body {
  flex: 1;
  padding: 10px;
  height: auto;
  background-color: white;
}

.quotes {
  text-align: center;
  padding: 5px;
}

#quote {
  font-size: 20px;
  font-weight: normal;
}

#author {
  font-weight: normal;
  font-size: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  width: auto;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

h5 {
  flex: 1;
  padding: 10px;
  text-align: center;
  /* margin-left: 10px;
  margin-right: 10px; */
  color: black;
  font-size: larger;
  background-color: lightsteelblue;
}

/* Home page section, 3 columns */
.row2 {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 20px;
  color: blue;
  font-size: medium;
  border: solid skyblue;
  text-align: center;
}

.mainquote {
  flex: 1;
  padding: 5px;

  text-align: center;
  color: black;
  font-size: larger;
  font-style: italic;
}

img.healthy {
  height: 90%;
  width: 90%;
  position: relative;
  animation: mymove 8s infinite;
}

/* .healthy:hover {
  opacity: 0.1;
} */

@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

@media screen and (max-width: 600px) {
  .row2 {
    flex-direction: column;
  }
}

.no-button {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
}

.no-button:hover {
  background-color: #ddd;
  color: black;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: skyblue;
  color: black;
  text-align: center;
  padding: 10px;
}

.container1 {
  height: 500px;
  width: 800px;
  float: right;
}

form.form {
  text-align: left;
  margin: 10px;
  padding: 20px;
  border: solid gray;
  width: auto;
  display: inline-block;
}

input {
  margin: 5px;
  align-content: right;
}

/* Cloud border for quotes */
.fancy {
  align-self: center;
  text-align: center;
  display: inline-block;
  left: 200px;
  top: 100px;

  box-sizing: border-box;
  width: 250px;
  height: 250px;
  padding: 80px 1em 0 1em;
  margin: 0 80px;
  position: relative;
  background-color: powderblue;
  border-radius: 100% 100% 0 0;
}

.fancy::before,
.fancy::after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: -1;
  background-color: powderblue;
  border-radius: 100%;
}

.fancy::before {
  width: 175px;
  height: 150px;

  left: -120px;

  border-bottom-right-radius: 0;
}

.fancy::after {
  width: 150px;
  height: 125px;
  right: -100px;
  border-bottom-left-radius: 0;
}
