header {
  /* padding: 30px; */
  text-align: center;
  background-color: lightskyblue;
  padding-top: 20px;
  width: 100%;
}

header h1 {
  font-size: 50px;
  color: white;
}

body {
  flex: 1;
  padding: 10px;
  height: auto;
  background-color: #e9f1f1;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  width: auto;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.row h2 {
  flex: 1;
  padding: 10px;
  background-color: #7d9192;
}

.row p {
  flex: 1;
  padding: 10px;
  background-color: #7d9192;
}

.column1 {
  float: left;
  padding: 10px;
  height: auto;
  width: 99%;
  background-color: #7d9192;
}

.column2 {
  float: left;
  padding: 10px;
  height: auto;
  width: auto;
  background-color: #7d9192;
}

img {
  height: 40%;
  width: 40%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightskyblue;
  color: black;
  text-align: center;
  padding: 10px;
}
